<div class="header__top">
  <div class="header__wrapper">
    <div class="header-left">
      <div class="logo">
        <img src="../assets/Frame.svg" alt="logo">
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__list-item"><a href="#">Главная</a></li>
          <li class="header__nav__list-item"><a href="#">{{abaoutCompany}}</a></li>
          <li class="header__nav__list-item"><a href="#">Каталог</a></li>
          <li class="header__nav__list-item"><a href="#" routerLink="users">Пользователи</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-right">
      <div class="header__tel">
        <img src="../assets/Phone.png" alt="tel" class="header__tel-img">
        <a href="tel+79650842929" class="txt__tel">+7 (965) 084-29-29</a>
      </div>
      <a href="#" class="header__favorites">
        <img src="../assets/Vector.svg" alt="favorites">
      </a>
      <div class="header__btn" onclick="click">
        <img class="header__btn-img" src="../assets/Buying.png">
        <p class="header__btn-text">Пусто</p>
      </div>
    </div>
  </div>
</div>
<div class="header__bottom">
  <div class="header__wrapper-btm">
    <div class="header-left--btm">
      <nav class="header__bottom-nav">
        <ul class="header__bottom-nav--list">
          <li class="header__bottom-nav--list---item">
            <a href="#" class="item-img"><img src="../assets/light.svg" alt="catalog"></a>
            <button href="#" class="item-link" *ngFor="let item of menuItems">{{item}}</button>
          </li>
        </ul>
      </nav>
    </div>
    <button (click)="changeMenutext()">change text</button>
    <div class="header-right--btm">
      <input type="search" placeholder="Поиск, например Круг зачистной" class="header__input">
      <div class="header-location">
        <img src="../assets/map-pin (2) 1.svg" alt="location" class="location__img">
        <p class="location__txt">Москва</p>
      </div>
    </div>
  </div>
</div>