<h1>CREATE TODO FORM</h1>

<form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field>
        <mat-label>ТЕКСТ ЗАДАЧИ</mat-label>
        <input matInput name="title" placeholder="Введите текст задачи" required class="input"
            formControlName="title" />
        <mat-error *ngIf="form.get('title')?.invalid && form.get('title')?.touched" class="error">
            <div *ngIf="form.get('title')?.errors?.['required']">
                Текст задачи обязателен.
            </div>
            <div *ngIf="form.get('title')?.errors?.['minlength']">
                Текст задачи должен содержать не менее 3 символов.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field">
        <mat-label>АВТОР ЗАДАЧИ</mat-label>
        <input matInput type="number" name="userId" placeholder="Введите id автора" required class="input"
            formControlName="userId" />
        <mat-error *ngIf="form.get('userId')?.invalid && form.get('userId')?.touched" class="error">
            <div *ngIf="form.get('userId')?.errors?.['required']">
                ID автора обязателен.
            </div>
            <div *ngIf="form.get('userId')?.errors?.['min']">
                ID автора должен быть положительным числом.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-checkbox name="completed" class="checkbox" formControlName="completed">ЗАДАЧА ЗАВЕРШЕНА</mat-checkbox>

    <button mat-raised-button color="primary" class="btn" [disabled]="form.invalid">Создать задачу</button>
</form>
