<h1>CREATE USER FORM</h1>

<form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field class="mat-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Enter your name">
        <mat-error class="error"
            *ngIf="form.controls['name']?.invalid && (form.controls['name']?.dirty || form.controls['name']?.touched)">
            <div *ngIf="form.controls['name']?.errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="form.controls['name']?.errors?.['minlength']">
                Name must be at least 3 characters long.
            </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" placeholder="Enter your email">
        <mat-error class="error"
            *ngIf="form.controls['email']?.invalid && (form.controls['email']?.dirty || form.controls['email']?.touched)">
            <div *ngIf="form.controls['email']?.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="form.controls['email']?.errors?.['email']">
                Email must be a valid email address.
            </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
        <mat-label>Website</mat-label>
        <input matInput type="text" formControlName="website" placeholder="Enter your website">
        <mat-error class="error"
            *ngIf="form.controls['website']?.invalid && (form.controls['website']?.dirty || form.controls['website']?.touched)">
            <div *ngIf="form.controls['website']?.errors?.['required']">
                Website is required.
            </div>
            <div *ngIf="form.controls['website']?.errors?.['minlength']">
                Website must be at least 3 characters long.
            </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
        <mat-label>Company name</mat-label>
        <input matInput type="text" formControlName="company_name" placeholder="Enter your company name">
        <mat-error class="error"
            *ngIf="form.controls['company_name']?.invalid && (form.controls['company_name']?.dirty || form.controls['company_name']?.touched)">
            <div *ngIf="form.controls['company_name']?.errors?.['required']">
                Company name is required.
            </div>
            <div *ngIf="form.controls['company_name']?.errors?.['minlength']">
                Company name must be at least 3 characters long.
            </div>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn" [disabled]="form.invalid">CREATE USER</button>
</form>
