.header__img-img {
  width: 100%;
}

.advantages {
  margin-top: 30px;
  margin-bottom: 50px;

  &__wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .advantages__item {
      display: flex;
      align-items: center;

      &-txt {
        color: #a1a0a0;
        font-size: 18px;
        font-weight: 500;

        .txt-blc {
          color: #000;
        }
      }
    }
  }
}

.cards {
  margin-top: 30px;

  &__wrapper {
    width: 1440px;
    margin: 0 auto;

    .cards__pagination {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-bottom: 16px;

      &-btn {
        background: transparent;
        border: none;
        font-weight: 400;
        font-size: 16px;
        color: #a1a0a0;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin: 0;
        }
      }

      .active-button {
        color: #f0ba4e;
      }
    }

    .cards__items {
      display: flex;

      &-left {
        margin-right: 90px;

        &--item {
          background-image: url("../assets/otdelIstr.png");
          width: 421px;
          height: 428px;
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          justify-content: flex-end;

          .cards__items__title {
            font-size: 28px;
            font-weight: 600;
            color: #3c3c3b;
            align-self: flex-end;
            margin: 16px 0 0 16px;
          }
        }
      }

      &-right {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        &--item1 {
          width: 421px;
          height: 200px;
          background-color: #fff;
          background-image: url("../assets/emali.png");
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cards__items__title {
            font-size: 28px;
            font-weight: 600;
            color: #3c3c3b;
            align-self: flex-end;
            margin: 16px 16px 0 0;
          }

          .cards__items__button {
            align-self: flex-end;
            cursor: pointer;
          }
        }
        &--item2 {
          width: 421px;
          height: 200px;
          background-image: url("../assets/kraska.png");
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cards__items__title {
            font-size: 28px;
            font-weight: 600;
            color: #3c3c3b;
            margin: 16px 0 0 16px;
          }
        }
        &--item3 {
          width: 421px;
          height: 200px;
          background-image: url("../assets/pena.png");
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cards__items__title {
            font-size: 28px;
            font-weight: 600;
            color: #3c3c3b;
            margin: 16px 0 0 16px;
          }
        }
        &--item4 {
          width: 421px;
          height: 200px;
          background-image: url("../assets/rozetka.png");
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .cards__items__title {
            font-size: 28px;
            font-weight: 600;
            color: #3c3c3b;
            margin: 16px 0 0 16px;
          }

          .cards__items__button {
            align-self: flex-end;
            cursor: pointer;
          }
        }
      }

      &__button {
        width: 200 px;
        height: 40px;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        margin: 0 15px 15px 0;
        cursor: pointer;

        .item__button-txt {
          text-align: left;
          color: #3c3c3b;
          font-size: 14px;
          font-weight: 400;
          margin-right: 10px;
        }
      }
    }
  }
}

.popular-tovars {
  margin-top: 56px;

  &__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    align-items: center;

    .tovars__header-title {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
    }

    .tovars__header-button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      color: #f0ba4e;
    }
  }

  &__body {
    .tovars__carts {
      display: flex;
      justify-content: space-between;

      &-item {
        height: 429px;
        width: 309px;
        background: #fff;

        &--header {
          position: relative;

          .img-tovar {
            padding: 24px 24px 0 24px;
          }

          .sale {
            height: 39px;
            width: 54px;
            background-color: #fa5d69;
            border-radius: 61px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.36px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin: 0;
            position: absolute;
            top: 85px;
            left: 24px;
          }

          .newinka {
            height: 39px;
            width: 109px;
            background-color: #08c785;
            border-radius: 61px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.36px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin: 0;
            position: absolute;
            top: 24px;
            left: 24px;
          }

          .img-heart {
            position: absolute;
            top: 33px;
            right: 26px;
            cursor: pointer;
          }
        }

        &--body {
          color: #3c3c3b;
          margin-top: 8px;
          padding-left: 24px;
          padding-right: 24px;

          .item--body---title {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
          }

          .item--body---articul {
            margin: 8px 0 0 0;
            font-size: 16px;
            font-weight: 500;
          }

          .item--body---price__one {
            margin: 20px 0 0 0;
            font-size: 16px;
            font-weight: 500;
            color: #a1a0a0;
          }

          .item--body---price__old {
            text-decoration: line-through;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            padding-top: 8.5px;
          }

          .item--body---price__new {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 0 16px;
            padding-top: 6px;
          }
        }

        &--footer {
          color: #3c3c3b;
          padding: 20px 24px;
          display: flex;
          justify-content: space-between;

          .quantity {
            &__txt {
              margin: 0;
              font-size: 16px;
              font-weight: 500;
            }

            &__num {
              display: inline-block;
              margin: 5px 16px 0 16px;
              font-size: 20px;
              font-weight: 500;
            }

            &__mns,
            &__pls {
              display: inline-block;
              margin: 0;
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
            }
          }

          .item--footer---button {
            background: transparent;
            border-radius: 54px;
            border: solid 1px #f0ba4e;

            width: 135px;
            height: 47px;

            color: #3c3c3b;
            font-size: 16px;
            font-weight: 500;

            cursor: pointer;
          }
        }
      }
    }
  }
}

.toCatalog {
  margin-top: 56px;

  &__wrapper {
    background: #f6f6f6;
    width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    .toCatalog__txt {
      &-title {
        margin: 28px 0 0 28px;
        color: #3c3c3b;
        font-size: 28px;
        font-weight: 500;
        text-transform: uppercase;
      }

      &-intro {
        font-size: 20px;
        font-weight: 400;
        color: #a1a0a0;
        margin-top: 16px;
        margin-left: 28px;
        margin-bottom: 99px;
      }

      &-link {
        font-size: 18px;
        font-weight: 600;
        color: #f0ba4e;
        text-decoration: none;

        margin-left: 28px;
      }
    }
  }
}

.new-tovars {
  margin-top: 56px;

  &__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    align-items: center;

    .tovars__header-title {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
    }

    .tovars__header-button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      color: #f0ba4e;
    }
  }

  &__body {
    .tovars__carts {
      display: flex;
      justify-content: space-between;

      &-item {
        height: 429px;
        width: 309px;
        background: #fff;

        &--header {
          position: relative;

          .img-tovar {
            padding: 24px 24px 0 24px;
          }

          .sale {
            height: 39px;
            width: 54px;
            background-color: #fa5d69;
            border-radius: 61px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.36px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin: 0;
            position: absolute;
            top: 85px;
            left: 24px;
          }

          .newinka {
            height: 39px;
            width: 109px;
            background-color: #08c785;
            border-radius: 61px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 19.36px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin: 0;
            position: absolute;
            top: 24px;
            left: 24px;
          }

          .img-heart {
            position: absolute;
            top: 33px;
            right: 26px;
            cursor: pointer;
          }
        }

        &--body {
          color: #3c3c3b;
          margin-top: 8px;
          padding-left: 24px;
          padding-right: 24px;

          .item--body---title {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
          }

          .item--body---articul {
            margin: 8px 0 0 0;
            font-size: 16px;
            font-weight: 500;
          }

          .item--body---price__one {
            margin: 20px 0 0 0;
            font-size: 16px;
            font-weight: 500;
            color: #a1a0a0;
          }

          .item--body---price__old {
            text-decoration: line-through;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            padding-top: 8.5px;
          }

          .item--body---price__new {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 0 16px;
            padding-top: 6px;
          }
        }

        &--footer {
          color: #3c3c3b;
          padding: 20px 24px;
          display: flex;
          justify-content: space-between;

          .quantity {
            &__txt {
              margin: 0;
              font-size: 16px;
              font-weight: 500;
            }

            &__num {
              display: inline-block;
              margin: 5px 16px 0 16px;
              font-size: 20px;
              font-weight: 500;
            }

            &__mns,
            &__pls {
              display: inline-block;
              margin: 0;
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
            }
          }

          .item--footer---button {
            background: transparent;
            border-radius: 54px;
            border: solid 1px #f0ba4e;

            width: 135px;
            height: 47px;

            color: #3c3c3b;
            font-size: 16px;
            font-weight: 500;

            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 48px;
  background: #4b565e;
  padding-bottom: 32px;

  &__wrapper {
    width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    .footer__left {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 34px;

      &-img {
        width: 100%;
        margin-bottom: 32px;
      }

      &-contacts {
        margin-right: 56px;

        &__txt {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 12px;

          &-title {
            font-size: 12px;
            color: #b7bbbf;
            margin-left: 12px;
            font-weight: 400;
          }
        }

        &__num {
          margin-left: 36px;
          margin-top: 3px;
          font-size: 16px;
          color: #fff;
          font-weight: 300;
          margin-bottom: 8px;
        }
        &__num:last-child {
          margin-bottom: 0;
        }
      }

      &-email {
        &__txt {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 12px;

          &-title {
            font-size: 12px;
            color: #b7bbbf;
            margin-left: 12px;
            font-weight: 400;
          }
        }

        &__post {
          margin-left: 36px;
          margin-top: 3px;
          font-size: 16px;
          color: #fff;
          font-weight: 300;
          margin-bottom: 8px;
        }
        &__num:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer__right {
      width: 50%;
      margin-top: 34px;

      &-title {
        margin-left: 126px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: 0%;
        color: #ffffff;
        margin-bottom: 12px;
      }

      &-txt {
        margin-left: 126px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #b7bbbf;
        margin-bottom: 32px;
      }

      &-form {
        margin-left: 126px;
        width: 534px;
        height: 48px;
        border: 1px solid#f0ba4e;
        border-radius: 30px;
        display: flex;
        align-items: center;

        &__input {
          width: 382px;
          height: 48px;
          margin-left: 48px;
          background: none;
          border: none;
          outline: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 14.52px;
          letter-spacing: 0%;
        }

        &__btn {
          width: 94px;
          height: 36px;
          border-radius: 30px;
          padding: 12px 20px;
          background: #f0ba4e;
          border: none;

          color: #fff;
          font-weight: 700;
          font-size: 10px;
          line-height: 12.1px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }

    .footer__bottom {
      width: 100%;

      .footer__nav {
        &__list {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0 0 36px 0;

          &-item {
            margin: 0 24px 0 0;

            a {
              text-decoration: none;
              color: #fff;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }

      .footer__social__ede {
        display: flex;
        justify-content: space-between;

        .footer__social {
          .ico__link {
            margin-right: 20px;
          }
        }

        .footer__ede {
          &-txt {
            font-size: 14px;
            font-weight: 400;
            color: #b7bbbf;
          }
        }
      }
    }
  }
}
