<app-header></app-header>

<div class="header__img">
  <button (click)="isShowImage = !isShowImage">Скрывать-показаывать картинку</button>

  <img src="../assets/Rectangle 5.png" alt="image-large" class="header__img-img" *ngIf="isShowImage">

</div>

<div class="advantages">
  <div class="advantages__wrapper">
    <div class="advantages__item">
      <img src="../assets/asssortiment.png" alt="asssortiment" class="advantages__item-img">
      <p class="advantages__item-txt"><span class="txt-blc">Большой ассортимент</span> <br>строительных материалов <br>
        всегда в наличии</p>
    </div>
    <div class="advantages__item">
      <img src="../assets/dostavka.png" alt="dostavka" class="advantages__item-img">
      <p class="advantages__item-txt"><span class="txt-blc">Доставка стройматериалов</span><br> в течении четырех часов
        или в <br>любое удобное время</p>
    </div>
    <div class="advantages__item">
      <img src="../assets/like.png" alt="img-like" class="advantages__item-img">
      <p class="advantages__item-txt">Многоуровневая <span class="txt-blc">система <br> управления качеством</span> по
        стандарту <br> ISO 9001</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="cards">
  <div class="cards__wrapper">
    <div class="cards__pagination">
      <button class="cards__pagination-btn" *ngFor="let item of newPages" [ngClass]="{'active-button': item === 1}">
        {{ item }}
      </button>
    </div>
    <div class="cards__items">
      <div class="cards__items-left">
        <div class="cards__items-left--item">
          <h1 class="cards__items__title">Строительный отделочный инструмент</h1>
          <button class="cards__items__button">
            <span class="item__button-txt">Перейти в каталог</span>
            <img src="../assets/strelka.svg" alt="">
          </button>
        </div>
      </div>
      <div class="cards__items-right">
        <div class="cards__items-right--item1">
          <h1 class="cards__items__title">Эмали</h1>
          <button class="cards__items__button">
            <span class="item__button-txt">Перейти в каталог</span>
            <img src="../assets/strelka.svg" alt="">
          </button>
        </div>
        <div class="cards__items-right--item2">
          <h1 class="cards__items__title">Лакокрасочные <br>
            материалы</h1>
          <button class="cards__items__button">
            <span class="item__button-txt">Перейти в каталог</span>
            <img src="../assets/strelka.svg" alt="">
          </button>
        </div>
        <div class="cards__items-right--item3">
          <h1 class="cards__items__title">Пены, клеи и <br>герметики</h1>
          <button class="cards__items__button">
            <span class="item__button-txt">Перейти в каталог</span>
            <img src="../assets/strelka.svg" alt="">
          </button>
        </div>
        <div class="cards__items-right--item4">
          <h1 class="cards__items__title">Розетки и выключатели</h1>
          <button class="cards__items__button">
            <span class="item__button-txt">Перейти в каталог</span>
            <img src="../assets/strelka.svg" alt="">
          </button>
        </div>
      </div>
    </div>
>
  </div>
</div>

<div class="popular-tovars">
  <div class="popular-tovars__wrapper">
    <div class="popular-tovars__header">
      <h1 class="tovars__header-title">Популярные товары</h1>
      <button class="tovars__header-button">
        Посмотреть все товары
      </button>
    </div>
    <div class="popular-tovars__body">
      <div class="tovars__carts">
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="sale">%</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="sale">%</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="sale">%</p>
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="toCatalog">
  <div class="toCatalog__wrapper">
    <div class="toCatalog__txt">
      <h1 class="toCatalog__txt-title">Более 10 000 наименований </h1>
      <p class="toCatalog__txt-intro">Инструмент для вашего бизнеса, разнообразных марок</p>
      <a href="#" class="toCatalog__txt-link">Перейти в каталог</a>
    </div>
    <div class="toCatalog__img">
      <img src="../assets/pngwing 1.png" alt="chel">
    </div>
  </div>
</div>

<div class="new-tovars">
  <div class="new-tovars__wrapper">
    <div class="new-tovars__header">
      <h1 class="tovars__header-title">Новинки</h1>
      <button class="tovars__header-button">
        Посмотреть все товары
      </button>
    </div>
    <div class="new-tovars__body">
      <div class="tovars__carts">
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="sale">%</p>
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
        <div class="tovars__carts-item">
          <div class="tovars__carts-item--header">
            <img class="img-tovar" src="../assets/disk.png" alt="disk">
            <p class="newinka">Новинка</p>
            <img class="img-heart" src="../assets/heart.svg" alt="heart">
          </div>
          <div class="tovars__carts-item--body">
            <h3 class="item--body---title">Круг зачистной 125х6х22</h3>
            <p class="item--body---articul">Артикул 00004</p>
            <p class="item--body---price__one">Цена за штуку</p>
            <p class="item--body---price__old">52 руб.</p>
            <p class="item--body---price__new">48 руб.</p>
          </div>
          <div class="tovars__carts-item--footer">
            <div class="quantity">
              <p class="quantity__txt">Количество</p>
              <p class="quantity__mns">-</p>
              <p class="quantity__num">1</p>
              <p class="quantity__pls">+</p>
            </div>
            <button class="item--footer---button">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="footer">
  <div class="footer__wrapper">

    <div class="footer__left">
      <div class="footer__left-img"><img src="../assets/Frame.svg" alt="logo"></div>
      <div class="footer__left-contacts">
        <div class="footer__left-contacts__txt">
          <img src="../assets/call-calling.svg" alt="call" class="footer__left-contacts__txt-img">
          <p class="footer__left-contacts__txt-title">Контактный телефон</p>
        </div>
        <p class="footer__left-contacts__num">+ 7 (812) 309-09-34</p>
        <p class="footer__left-contacts__num">+ 7 (965) 084-29-09</p>
      </div>
      <div class="footer__left-email">
        <div class="footer__left-email__txt">
          <img src="../assets/sms.svg" alt="email" class="footer__left-email__txt-img">
          <p class="footer__left-email__txt-title">Электронная почта</p>
        </div>
        <p class="footer__left-email__post">tustin78&#64;mail.ru</p>
        <p class="footer__left-email__post">info&#64;tustin.ru</p>
      </div>
    </div>

    <div class="footer__right">
      <h1 class="footer__right-title">Остались вопросы?</h1>
      <p class="footer__right-txt">Узнавайте первым о скидках, предложениях и событиях еженедельно в <br>своем почтовом
        ящике. Отпишитесь в любое время одним щелчком мыши.</p>
      <div class="footer__right-form">
        <input type="email" placeholder="Введите свою почту" class="footer__right-form__input">
        <input type="submit" value="Отправить" class="footer__right-form__btn">
      </div>
    </div>
    <hr style="width: 100%; border: solid #566169 0.1px; margin: 34px 0 34px 0;">
    <div class="footer__bottom">

      <nav class="footer__nav">
        <ul class="footer__nav__list">
          <li class="footer__nav__list-item"><a href="#">Главная</a></li>
          <li class="footer__nav__list-item"><a href="#">О компании</a></li>
          <li class="footer__nav__list-item"><a href="#">Каталог</a></li>
        </ul>
      </nav>

      <div class="footer__social__ede">

        <div class="footer__social">
          <a href="#" class="ico__link"><img src="../assets/Mini Button.svg" alt="fb" class="ico__img"></a>
          <a href="#" class="ico__link"><img src="../assets/Mini Button-2.svg" alt="yt" class="ico__img"></a>
          <a href="#" class="ico__link"><img src="../assets/Mini Button-1.svg" alt="wa" class="ico__img"></a>
        </div>

        <div class="footer__ede">
          <p class="footer__ede-txt">© 2021-2022, EDE</p>
        </div>

      </div>

    </div>
  </div>
</footer>